// Mixins
@import "nib"
@import "normalize.css"
@import "buttons.css"
@import "jqModal.css"
@import "flash.styl"

body
  font-family: monospace

border-box()
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

user-select()
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

*
  border-box()
  user-select()

.editor
  display: inline-block
  .left-side, .right-side
    float: left
  .right-side
    width: 40px
    a
      height: 32px
      width: 32px
      margin-bottom: 5px
      color: white
      font-weight: bold
      font-size: 70%
      text-shadow: 1px 0px #333
      background: #999
      background: linear-gradient(top, #999, #aaa)
      box-shadow: 1px 1px #ccc
      border-radius: 5px
      text-decoration: none
      display: block
      text-align: center


.nav
  ul
    margin: 0
    padding: 0
  li
    height: 54px
    float: left
    width: 33%
    list-style-type: none
    text-align: center
    margin: 0
    padding: 0
    a
      width: 100%
.add-drop
  .add-link
    float: right
  .remove-link
    float: left

.canvas-holder
  width: 240px
  height: 240px
  position: relative
  canvas
    width: 100%
    height: 100%
    border: 1px solid #ddd

.preview-holder
  .frames canvas
    height: 24px
    width: 24px
  .animation canvas
    height: 32px
    width: 32px
  canvas
    border: 1px solid #ddd
    &.current
      margin-left: 0.5em
      outline: 2px solid #f90

.jqmWindow
  display: none
  position: fixed
  top: 17%
  left: 50%
  margin-left: -300px
  width: 600px
  background-color: #EEE
  color: #333
  border: 1px solid black
  padding: 12px
.jqmOverlay 
  background-color: #000

.gallery
  padding: 1em
  a.gif img
    border: 1px solid #ddd
 
